/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/
body{
  background-color:#6495ED;

  height: 100vh;
}

.chat{
 
  width: 750px;
  height: 768px;
  left: 345px;
  top: 94px;

  background: #FFFFFF;
  border-radius: 30px;
}

.cabeca{
  border: red;
  display:block;
  width: 750px;
  height: 65px;
  left: 345px;
  top: 94px;

  

  background: #D9D9D9;
  border-radius: 30px 30px 0px 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  

}

.principal{
    width: 15%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    transition: 0.5s background;
    cursor: pointer;
}