/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/

.principal{
    width: 15%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    transition: 0.5s background;
    cursor: pointer;
}